{
	"extends": ["airbnb-base"],
	"parser": "babel-eslint",
	"plugins": ["react"],
	"env": {
		"browser": true,
		"node": true
	},
	"globals": {
		"document": false
	},
	"rules": {
		"linebreak-style": ["error", "unix"],
		"indent": [2, "tab"],
		"max-len": [1, 100, 2,
			{
				"ignoreComments": true,
				"ignoreStrings": true
			}],
		"no-tabs": 0,
		"react/prop-types": [2],
		"class-methods-use-this": [0],
		"react/jsx-uses-react": "error",
		"react/jsx-uses-vars": "error"
	}
}